
<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>GitHub</h4>
                <p><a href="https://github.com/icowan/facePP">github.com/icowan/facePP</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="http://lattecake.com/about">about</a><br/>
                    <a href="http://weibo.com/2270150963">weibo</a><br/>
                    <a href="https://github.com/icowan">GitHub</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>LatteCake</h4>
                <p><a href="http://lattecake.com/">Latte Cake</a></p>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>

